.nav {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 50;
  display: flex;
  /* padding: 1.2rem; */
  font-size: 0.9rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  border-bottom-width: 1px;
  border-bottom-color: lightgrey;
  border-bottom-style: solid;
}

.path {
  float: left;
  display: flex;
  padding: 4px 20px;
  max-width: calc(100% - 300px);
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.path::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disableScrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.pathName:hover {
  border-bottom: 2px solid black;
  font-weight: 600;
}

.slash {
  margin: 0 8px;
}

.search {
  padding: 4px 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.right {
  padding-right: 10px;
  margin: auto 0;
  margin-left: auto;
  display: flex;
}

.icon {
  margin-right: 4px;
}

.modal {
  position: absolute;
  top: -200px;
  left: 50%;
  margin-left: -320px;
}

.modal2 {
  position: absolute;
  top: -200px;
  left: 50%;
  margin-left: -200px;
  background-color: white;
  width: 400px;
  height: 240px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 28px;
  margin-bottom: 30px;
}

.button {
  height: 40px;
  width: 80px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  padding: 20px 10px;
  transition: 0.2s ease;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.button:hover {
  border: 1px solid rgba(0, 118, 255, 0.9);
  background-color: rgba(0, 118, 255, 0.9);
  color: white;
}

.saveInput {
  width: 300px;
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}

.saveInput:focus {
  border: 1px rgba(0, 118, 255, 0.9) solid;
}

.modal3 {
  position: absolute;
  top: -200px;
  left: 50%;
  margin-left: -200px;
  background-color: white;
  width: 400px;
  height: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 125px;
  overflow-y: auto;
}
.item {
  border: 1px solid lightgrey;
  width: 100%;
  padding: 7px;
  transition: 0.2s ease;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 14px;
}

.item:hover {
  border: 1px solid rgba(0, 118, 255, 0.9);
  background-color: rgba(0, 118, 255, 0.9);
  color: white;
}

.remove {
  height: 40px;
  width: 80px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  padding: 20px 10px;
  transition: 0.2s ease;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.remove:hover {
  border: 1px solid rgba(255, 8, 0, 0.9);
  background-color: rgba(255, 8, 0, 0.9);
  color: white;
}

.buttons {
  display: flex;
  width: 180px;
  justify-content: space-between;
}

.searchbar {
  padding: 10px 20px;
  padding-left: 54px;
  padding-top: 11px;
  width: 600px;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

.searchbarIcon {
  position: absolute;
  left: 20px;
  top: 14px;
}
