.panel {
  height: 100vh;
  width: 400px;
  position: absolute;
  right: 0;
  z-index: 30;
  border-left-width: 1px;
  border-left-color: lightgrey;
  border-left-style: solid;
  background-color: white;
  padding: 90px 20px 30px 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: auto;
}

.title {
  color: #242526;
  margin-top: 0px;
  display: flex;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px lightgrey solid;
  font-weight: 600;
}

.info {
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px lightgrey solid;
}

.subheader {
  font-weight: bold;
  font-size: 16px;
  color: #3d3c3c;
}

.subheaderContainer {
  display: flex;
  align-items: center;
}

.text {
  font-size: 14px;
}

.emoji {
  font-size: 12px;
  margin-right: 8px;
}

.course_list {
  padding-left: 1.2em;
}

.video {
  list-style-type: none;
  margin-bottom: 5px;
}

.course {
  list-style-type: none;
  border: 1px solid lightgrey;
  width: 100%;
  padding: 7px;
  transition: 0.5s;
  border-radius: 5px;
  margin-bottom: 5px;
}

.book {
  list-style-type: none;
  border: 1px solid lightgrey;
  width: 100%;
  padding: 7px;
  transition: 0.2s ease;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 14px;
}

.book:hover,
.course:hover {
  border: 1px solid rgba(0, 118, 255, 0.9);
  background-color: rgba(0, 118, 255, 0.9);
  color: white;
}
